<html>
  <head>
    <title>Lyceum</title>
   
    <!--[if (lt IE 10)|(gt IE 10)]><link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" /><![endif]--> 
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
  </head>
  
  <body>
    <div id="main">
      <header>
        <h2 style="display: inline; margin-left: 45px; vertical-align: 50px;">CDL Lyceum</h2>
      </header>
    
      <nav>
        <div class="nav_spacer">
          <ul>
            
          </ul>
        </div>
      </nav>
      
      <%= yield %>
      
    </div>
  </body>
</html>